body {
	padding:				0px;
	margin:					0px;
	background-color:		#FCFCFC;
	line-height:			normal;
}

.CenterMaxWidth {
	max-width:				1200px;
	min-width:				800px;
	margin-left:			auto;
	margin-right:			auto;
}

.CenterMinWidth {
	min-width:				800px;
	margin-left:			auto;
	margin-right:			auto;
}

.MainSplash-Container {
	width:					100%;
	height:					580px;
	background-image:		url('images/main_splash.jpg');
	background-repeat:		no-repeat;
	background-attachment:	local;
	background-size:		1920px 580px;
	background-position:	75% 0%;
	margin-bottom:			50px;
	/*margin-top:				60px;	/* MainNavigation height miatt */
	
}

.MainSplash-Inner {
	padding-top:			85px;
}

.MainSplash-Title {
	position:				relative;
	background-color:		rgba(0,0,0,0.5);
	width:					485px;
	height:					155px;
	padding:				15px;
}

.MainSplash-Title h1 {
	position:				relative;
	font-family:			'osRegular';
	font-size:				51px;
	color:					#FFF;
	margin:					0px;
	line-height:			110%;
	margin-top:				-5px;
}

.MainSplash-Title h2 {
	position:				relative;
	font-family:			'osRegular';
	font-size:				37px;
	color:					#FCFCFC;
	margin:					0px;
	margin-top:				5px;
}

.MainSplash-Logo {
	position:				relative;
	background-color:		#FFF;
	background-image:		url('images/logo.png');
	background-repeat:		no-repeat;
	border-radius:			7px;
	width:					160px;
	height:					160px;
	margin-top:				235px;
	margin-left:			auto;
	margin-right:			auto;
}

.MainRow {
	margin-top:				50px;
	padding-top:			50px;
	padding-bottom:			50px;
}

p {
	padding-top:			10px;
}

.MainRow-Odd {
	
}

.MainRow-Even {
	background-color:		rgb(237,236,228);
}

.MainRow-Taller {
	margin-top:				40px;
	margin-bottom:			40px;
}

.MainRow-Footer {
	background-color:		#333;
	padding-top:			20px;
	padding-bottom:			20px;
	height:					100px;
}

.MainRow-Title {
	padding:				10px;
	height:					100%;
}

.MainRow-Content {
	padding:				10px;
	font-family:			'osLight';
	font-size:				20px;
}

.MainRow-Title h3 {
	font-family:			'osLight';
	font-size:				37px;
	margin:					0px;
	margin-top:				25px;
}


.ParallelDiv {
	box-sizing:				border-box;
	-moz-box-sizing:		border-box; /* Firefox */
	float:					left;
}

.PD-2 {
	width:					20%;
}

.PD-4 {
	width:					40%;
}

.PD-5 {
	width:					50%;
}

.PD-6 {
	width:					60%;
}

.PD-8 {
	width:					80%;
}

.ClearFix {
	clear:					both;
}



.Group-Info {
	margin-left:			10px;
}

.Group-Container {
	box-sizing:				border-box;
	-moz-box-sizing:		border-box; /* Firefox */
	width:					50%;
	float:					left;
}

.Group-Container {
	font-size:				17px;
}

.Group-Container h3 {
	font-size:				26px;
	margin-top:				20px;
	margin-bottom:			0px;
	display:				inline;
}

.Group-Container h4 {
	color:					rgba(100,100,100,0.9);
	font-size:				17px;
	font-weight:			500;
	display:				inline;
	margin-left:			10px;
	
}