.list-view {
	padding:			0;
}

.Image-Gallery-Container {
	/*position:			fixed;*/
	width:				100%;
	height:				100%;
	background-color:	rgb(252,252,252);
	margin:				0;
}

.Image-Viewer-Container {
	/*top:				-60px;
	position:			fixed;
	width:				100%;
	height:				100%;
	background-color:	rgba(112,112,112,1);*/
	z-index:			150;
	display:			none;
}

#supersized-loader {
	display:			none;
}

.Image-List-Container {
	position:			relative;
	width:				100%;
	height:				100%;
	left:				300px;
	overflow-x:			hidden;
	overflow-y:			hidden;
	box-sizing:			border-box;
	-moz-box-sizing:	border-box; /* Firefox */
}

.Image-Album-List-Container {
	position:			fixed;
	width:				300px;
	height:				100px;
	top:				60px;
	background-color:	rgba(112,112,112,0.5);
	box-sizing:			border-box;
	-moz-box-sizing:	border-box; /* Firefox */
}

.Image-Thumbnail-MainContainer {
	width:				512px;
	height:				384px;
	float:				left;
}

.Image-Selected {
	/*background-image: url('logo.png');
	background-position: right top;
	background-repeat: no-repeat;*/
}

.Image-Deselected {
	background-color:	rgba(112,112,112,0.5);
}

.Image-Hover-Layer {
	background-color:	rgba(0,0,0,0.3);
	width:				100%;
	height:				100%;
	position:			relative;
	z-index:			10;
}

.Image-Hover-Layer:hover {
	background-color:	transparent;
}

.LastImage {
	background-color:	transparent;
}

.Image-Hover-Leaving {
	display: none;
	background-color:	rgba(0,0,0,0.3);
	width:				100%;
	height:				100%;
	position:			relative;
	z-index:			10;
}

.Image-Select-Layer {
	width:				100%;
	height:				100%;
	position:			relative;
	top:				-100%;
	z-index:			5;
}

.Image-Info-Container, .Image-SourcePath, .summary {
	display:			none;
}

.Image-Thumbnail-Container {
	width:				100%;
	height:				100%;
	position:			relative;
	top:				-200%;
	z-index:			0;
}

.Image-Checkbox-Hide {
	display:			none;
}

.ClearFix {
	clear:					both;
}