body {
	background-color:	rgb(237,236,228);/*#333;*/
	/*width:				100%;
	height:				100%;*/
}

.list-view {
	padding:			0;
}

.Image-Gallery-Container {
	/*position:			fixed;*/
	width:				100%;
	height:				100%;
	margin:				0;
}

.Image-Gallery-Background {
	display:			none;
	position:			fixed;
	width:				100%;
	height:				100%;
	margin:				0;
	background-color:	rgb(237,236,228);
	z-index:			-500;
}

.Image-Viewer-Container {
	/*top:				-60px;
	position:			fixed;
	width:				100%;
	height:				100%;
	background-color:	rgba(112,112,112,1);*/
	z-index:			150;
	display:			none;
}

#supersized-loader {
	display:			none;
}

.Image-List-Container {
	position:			relative;
	width:				100%;
	/*height:				100%;*/
	left:				300px;
	overflow-x:			hidden;
	overflow-y:			hidden;
	box-sizing:			border-box;
	-moz-box-sizing:	border-box; /* Firefox */
	box-shadow:			2px 2px 5px rgba(0,0,0,0.2);
}

.Image-Thumbnail-MainContainer {
	width:				512px;
	height:				384px;
	float:				left;
}

.Image-Selected {
	/*background-image: url('logo.png');
	background-position: right top;
	background-repeat: no-repeat;*/
}

.Image-Deselected {
	background-color:	rgba(112,112,112,0.5);
}

.Image-Hover-Layer, .Image-Hover-Leaving {
	background-color:	rgba(23,12,0, 0.25);/*rgba(30,30,30,0.35);*/
	width:				100%;
	height:				100%;
	position:			relative;
	z-index:			10;
}

.Image-Hover-Layer:hover {
	background-color:	transparent;
}

.Image-Hover-Leaving {
	display: none;
}

.LastImage {
	background-color:	transparent;
}

.Image-Select-Layer {
	width:				100%;
	height:				100%;
	position:			relative;
	top:				-100%;
	z-index:			5;
}

.Image-Info-Container, .Image-SourcePath, .summary {
	display:			none;
}

.Image-Thumbnail-Container {
	width:				100%;
	height:				100%;
	position:			relative;
	top:				-200%;
	z-index:			0;
}

.Image-Checkbox-Hide {
	display:			none;
}

.ClearFix {
	clear:					both;
}

.Image-Album-List-Container {
	position:			fixed;
	width:				280px;
	/*height:				100px;*/
	top:				60px;
	padding:			10px;
}

.Image-Album-MainContainer {
	position:			relative;
	padding:			5px;
	background-color:	#333;/*rgb(237,236,228);*/
	box-shadow:			2px 2px 5px rgba(0,0,0,0.2);
	/*z-index:			-20;*/
	margin-bottom:		5px;
}

.Image-Album-Active {
	width:				280px;
}

.Album-Name, .Album-Name:hover {
	display:			block;
	font-family:		'Open Sans Condensed'; 
	font-size:			20px;
	font-weight:		600;
	margin:				0;
	margin-bottom:		15px;
	color:				rgb(237,236,228);
	text-decoration:	none;
	padding:			10px;
}

.Image-DividerStrip {
	position:			fixed;
	left:				300px;
	width:				200px;
	height:				100%;
	z-index:			-1px;
	background-color:	rgb(237,236,228);
}

.Image-List-Container .empty {
	position:			fixed;
	width:				80%;
	height:				80%;
	left:				300px;
	background-image:	url('../img/logo.png');
	background-size:	contain;
	background-repeat:	no-repeat;
	background-position:center;
	color:				#333;
	text-align:			center;
	margin-top:			15px;
	font-family:		'Open Sans';
	font-size:			200%;
}